.photo {
    margin: 50px auto;
    width: 604px;
}
img {
    margin: auto;
}
h1 {
    text-align: center;
    margin: 60px 0 0;
}
.student {
    text-align: center;
    font-size: 30px;
}
hr {
    height: 5px;
    background-color: grey;
    border: none;
}
.list{
    width: 1024px;
    margin: 50px auto;
    font-size: 20px;
}
li {
    text-decoration: none;
    font-size: 20px;
}
p {
    margin: 50px auto;
    width: 1024px;
    font-size: 20px;
}
